body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px; /*20px:top,bottom and 60px:left,right*/
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}