.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column; 

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 800px) {
            justify-content: space-around;
        }
    }

    .forgot-password {
        
        .text-link {
            margin-bottom: 20px;
        }

        &:hover {
            font-weight: 900;
            color:slateblue;
        }
    }
}