.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media screen and (max-width: 800px) {
      align-items: center;
    }
  
    .title {
      font-size: 30px;
      color: whitesmoke;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 30px;
      cursor: pointer;
      background-color: rgb(187, 176, 176);
      padding: 12px 0 12px 0;

      @media screen and (max-width: 800px) {
        background-color: rgb(187, 176, 176);
        width: 100%;
        color: whitesmoke;
      }
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      @media screen and (max-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
      }

    }
  }
  